@media screen and (max-width: 1336px){
    .container {
        /*-moz-transform: scale(0.7, 0.7); / Moz-browsers /
        zoom: 0.7; / Other non-webkit browsers /*/
        zoom: 80% !important; / Webkit browsers /
    }   
} 


body{
	/*padding:0;*/
}
.footer{
    position: relative;
    bottom: 0px;
    height: 25px;
    width: 100%;
    left: 0px;
    margin-top: 10px;
}
#loader{
    position:fixed;
    display:none;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#f2f2f2;
    opacity:.9;
    z-index: 100500;
}
#loader span{
    display: block;
    background: url(/img/loader.gif) no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -7px 0 0 -56px;
}

.labeledRadio{
    position: relative;
    display: block;
    max-width: 140px;
}
.inLabel{
    position: relative;
    display: inline-block;
    margin-top: 0px !important;
}
.radioLabel{
    padding: 0.5em .6em 0.5em;
    position: relative;
    display: inline-block;
    top: -2px;
}
.glyphiconColls{
    cursor: pointer; font-size: 25px;
}
/*----------------------------------------------------------------------------------------------------------*/

body{background-color: #edeef0; padding-top: 50px !important;}
.container_carousel{margin-top: 5px !important; margin-bottom: 25px !important;}
.container_rem{padding-bottom: 20px !important;}
#div-toolbar-container{margin-bottom: 15px !important;}
#vk_comments{margin-bottom: 35px;}

@media screen and (max-width: 1200px){
    /*#map{  padding-left: 0; padding-right: 0; width: 100px !important; text-align: left;}
    #adress{padding-left: 0; padding-right: 0; width: 180px !important;}
    #email{padding-left: 0; padding-right: 0; width: 215px !important;}*/
    #phone{padding-left: 9px; padding-right: 0; width: 180px !important; text-align: center;}
}

@media screen and (max-width: 992px){
/*  #map{  padding-left: 0; padding-right: 0; width: 100px !important; text-align: left;}
    #adress{padding-left: 0; padding-right: 0; width: 180px !important;}
    #email{padding-left: 0; padding-right: 0; width: 230px !important; text-align: center;}
    #email_shop{padding-left: 0; padding-right: 0; width: 230px !important; text-align: center;}
    #phone{padding-left: 9px; padding-right: 0; width: 180px !important;}*/
    .toun1{width: 185px !important;}
    .adress1{font-size: 12px !important; width: 150px !important;}
    .email1{font-size: 12px !important; width: 150px !important;}
    .phone1{font-size: 12px !important; width: 150px !important;}
    .client1{font-size: 12px !important;}
}

@media screen and (max-width: 1200px){
    /**/
    .navbar-nav{
    width: 1000px !important;
    float: none !important;
    margin: 0 !important;
}
}
/*@media screen and (max-width: 994px){
    #map{  padding-left: 0; padding-right: 0; width: 100px; text-align: left;}
    #adress{padding-left: 0; padding-right: 0; width: 180px;}
    #email{padding-left: 0; padding-right: 0; width: 215px;}
    #phone{padding-left: 9px; padding-right: 0; width: 180px;}
}*/

@media screen and (max-width: 1200px){
 .btn-toolbar{
 width: 1000px;
 margin-right: 0;
 }
 #shop_bar{padding: 0 !important; width: 1000px;}
 .container_shop_panel{width: 997px !important;}
 #shop_bar_2{margin-left: 0;}
}

@media screen and (max-width: 991px){
    .toolbar-container{
        padding: 0;
        margin: 0;
        width: 100% !important;
    }
    .btn-toolbar{width: auto;}
    .btn-group{width: 100%;}
    #btn-blok{width: 9%; font-size: 0.9rem; padding-left: 6px;}
}
@media (min-width: 1024px){
    .container_carousel {width: 1000px;}
    #carousel-example-generic{width: 1000px !important;}
    .container_carousel{width: 1000px;}
}
@media (max-width: 1023px){
    #carousel-example-generic{width: 900px !important;}
    .container_carousel{width: 900px;}
    .container_rem{width: 900px !important;}
    .image_rem2{margin-left: 45px !important;}
    .image_rem3{margin-left: 45px !important;}
    .container_btn_group{width: 900px !important;}
    #btn_group_id{width: 900px !important;}
    #ile{width: 900px !important;}
    .description{width: 894px !important;}
    #footer-container{width: 900px !important;}
    .footer_block1{width: 18% !important;}
    .footer_block2{width: 200px !important;}
    .thumbnail{width: 275px !important;}
    .thumbnail{height: 160px !important;}
    #shop_bar{padding: 0 !important; padding-left: 49px !important;}
    .container_shop_panel{width: 900px !important;}
    /*--*/
}
@media (max-width: 394px){
    #shop_title_xs{
        font-size: 16px !important;
    }
    .input_search_xs{height: 41px !important; font-size: 11px !important;}
}
@media screen and (min-width: 768px) and (max-width: 991px){
        #img_descr{width: 33.3%;}
    #info_descr{width: 66.6%;}
    .container_carousel{width: 760px;}
   #carousel-example-generic{width: 760px !important;}
   .container_btn_group{width: 750px !important;}
   #btn_group_id{width: 750px !important;}
   .container_rem{width: 760px !important;}
   .image_rem1{
        overflow:hidden !important;
        width: 232px !important;
        height:400px !important;
        padding: 0;
        margin-left: 1px;
    }
    .image_rem2{
        overflow:hidden !important;
        width: 233px !important;
        height:400px !important;
        padding: 0;
        margin-left: 30px !important;
    }
    .image_rem3{
        overflow:hidden !important;
        width: 233px !important;
        height:400px !important;
        padding: 0;
        margin-left: 30px !important;
    }
    #rem_button{
        border-radius: 0px;
        overflow:hidden !important;
        padding: 0;
        width: 233px !important;
        height: 346px !important; 
        border: 0;
    }
    .btn-rem-img{
        width: 232px !important;
        height: 400px !important; 
    }
    .adress{font-size: 12px !important;}
    .email{font-size: 12px !important;}
    .phone{font-size: 12px !important;}
    .client{font-size: 12px !important;}
    #adress{width: 154px !important;}
    #map{width: 160px !important;}

    .thumbnail{width: 228px !important;}
    .thumbnail{height: 135px !important;}
    #ile{width: 760px !important;}
    .description{width: 755px !important;}
    #footer-container{width: 760px !important;}
    .footer_block1{width: 16% !important;}
    .footer_block2{width: 190px !important;}
    .footer_block3{width: 145px !important;}
    .footer-ul li { line-height:23px !important; font-size:11px !important;}
    #contactS{margin-left: 0px !important;}
}

@media screen and (max-width: 990px){
    #img_descr{width: 33.3%;}
    #info_descr{width: 66.6%;}
    .serviceBox{margin-bottom: 20px; padding: 20px 0;}
    #shop_bar{width: 767px !important; padding-left: 0 !important;}
    #shop_bar_2{width: 758px !important;}
    .container_btn_group{width: 900px !important;}
}

@media screen and (max-width: 767px){
    #ile{width: 96% !important;}
    .description{width: 99% !important;}
    #ooo{padding-left: 30px;}
    .status_login_cont{
        margin-left: 0 !important;
    }
}




#nav_ico_xs i{font-size: 29px; margin-top: 10px;}
.container_nav_xs{width: 100%;}
.navbar-default{
    background-color: #333333;
    /*#333333*/
    border-color :white;
    height: 44px;
    margin-bottom: 0;
}
#navbar-collapse{
    background-color: #333333;
} 
.a:hover{
    text-decoration: none !important;
    position: center center;
}

.phone{
    color: white !important;
}
.map{
    color: white !important;
    border:none;
}
.email{
    color: white !important;
}
.adress{
    color: white !important;
}
.client{
    color: white !important;
}
#map{
    padding-top: 12px;
    width: 250px;
    min-width: 130px;
    text-align: left;
}
#adress{
    padding-top: 12px;
    width: 218px;   
    text-align: center;
}
#email{
    padding-top: 12px;
    width: 270px;
    text-align: right;
}
#phone{
    padding-top: 12px;
    width: 286px;
    text-align: right;
}
#service{
    width: 240px;
}
#help{
    width: 230px;
}

.phone:hover i{
    color: green;
}
.client:hover i{
    color: orange;
}
.phone:hover{
    color: #61ABE1 !important;
    text-decoration: none !important;
}

.client:hover{
    color: #61ABE1 !important;
    text-decoration: none !important;
}
.map:hover i{
    color: red;
}
.map:hover{
    color: #61ABE1 !important;
    text-decoration: none !important;
    border: none;
}
.adress:hover i{
    color: green;
}
.adress:hover{
    color: #61ABE1 !important;
    text-decoration: none !important;
}
.email:hover i{
    color: red;
}
.email:hover{
    color: #61ABE1 !important;
    text-decoration: none !important;
}
.navbar-nav{
    width: 1000px !important;
    float: none !important;
    margin: 0px auto !important;
}
#toun{
    background-color: #333333;
    border: none;
}
#toun_text{
    color: white;
    border-bottom: 1px dashed white;
}

/*
/Navigation
*/

/*Logo*/
.logo{
    padding-top: 0;
    width: 174px;
    height: 104px;
    object-position: center;
}
#logo_mid{
    height: 100px;
}
.container-fluid{
    height: 110px;
    background: #333333;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#btn-blok:hover{border-bottom: 3px solid white !important;}
#btn_group_id{width: 1001px ; /*margin-left: 437px;*/}
#btn-blok{
    width: 9.17%;
    background-color: #333333; 
    height: 110px;
    font-size: 1rem;
    color: white;
    object-position: center;
    padding-top: 0;
    padding-bottom: 18px;
    border-top: 0px;
    border-bottom: 0px;
    padding-left: 9px;
    padding-right: 9px;
    text-transform: none;
    font-style: normal;
    font-size: 10px;
}
.btn-blok-img{
    padding-bottom: 15px;
}

.container_btn_group{padding: 0; width: 1000px;}

#f_xs_foot_rem{
    padding-top: 30px;
}
#line_foot{
    border-top: 1px solid #AAAAAA;
    margin-top: 10px;
    margin-bottom: 10px;
}
#line_foot p{
    margin-top: 15px;
    color: white;
}
#footer-container{width: 1000px; padding: 0;}
#footer-row{width: 1000px; padding: 0; margin: 0;}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
.footer{width: 100%}
footer { background-color:#333333; min-height:315px; font-family: 'Open Sans', sans-serif; padding-top: 0px; padding-bottom: 10px;  width: 100%;}
.footer_block1 { width: 22%; padding:0 15px; padding-left: 0;  }
.footer_block4{width: 31%; padding: 0; padding-left: 15px;}
.logo_footer { margin-bottom:30px; margin-top: 25px; font-size:25px; color:#fff; font-weight:700;}

.footer_block1 p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footer_block1 p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:15px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px; height: 23px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#61ABE1; text-decoration: none;}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}


.copyright { min-height:40px; background-color:#000000; width: 100% !important; height: 40px;}
.copyright p { text-align:left; color:#FFF; padding-top: 5px; margin-left: 440px; width: 220px; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px; margin-top: 20px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}



/*+++*/
#menu_foot{width: 100%;}


#contactS{
    float: left;
    margin-right: 8px;
    margin-left: 6px;
    height: 38px;
    width: 38px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.vk{
    background-image: url(/img/soc/vk-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.facebook{
    background-image:  url(/img/soc/facebook-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.odnoklassniki{
    background-image: url(/img/soc/odnoklassniki-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.biz{
    background-image:url(/img/soc/biz-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.instagram{
    background-image: url(/img/soc/instagram-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
}
/*.vk:hover{
    background-image: url(/img/soc/vk-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.facebook:hover{
    background-image: url(/img/soc/facebook-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.odnoklassniki:hover{
    background-image: url(/img/soc/odnoklassniki-hover.png);
}
.biz:hover{
    background-image: url(/img/soc/biz-hover.png);
}
.instagram:hover{
    background-image: url(/img/soc/instagram-hover.png);
}
*/


/*xs*/

.footer_blok_xs2{width: 264px; height: 50px; margin: auto;}
.panel-default>.panel-heading{background-color: #333333;}
.panel-default{border-color: #333333;}
.panel{background-color: #333333;}
.panel-default p{color: white;}
.footer-ul li a{color: white; }
.a_footer_xs{margin-left: 12px;}




/*monitoring*/
/*@media (max-width: 1366px){
    .datepanelmonitoring {
        width: 58.3% !important;
    }
}*/
/*@media (min-width: 1227px) and (max-width: 1366px){
    .datepanelmonitoring{
        width: 95% !important;
    }
}*/
/*@media (min-width: 992px) and (max-width: 1366px){
    .datepanelmonitoring {
        width: 95% !important;
    }
}
@media (min-width: 992px){
    .datepanelmonitoring {
        width: 95% !important;
    }
}
@media (max-width: 1366px){
    .datepanelmonitoring {
        width: 58% !important;
    }
}*/

.datepanelmonitoring {
    min-width: 860px !important;
}
.managerfiltermonitoring{
    min-width: 600px !important;
}



.rbutton{
    width: 18px !important;
    float: right !important;
    margin-top: 0px !important;
    border-radius: none !important;
    border: none !important;
    box-shadow: none !important;
}
.chbox{
    width: 18px !important;
    float: right !important;
    margin-top: 0px !important;
    margin-right: 4px !important;
    box-shadow: none !important;
}

.rbbut{
    border: none !important;
    border-radius: none !important;
    background: none !important;
    box-shadow: none !important;
}
.bchbox{
    background: none !important;
    border: none !important;
    border-radius: none !important;
}

/*
/monitoring
*/