body{background-color: #edeef0; padding-top: 50px !important;}
.container_carousel{margin-top: 5px !important; margin-bottom: 25px !important;}
.container_rem{padding-bottom: 20px !important;}
#div-toolbar-container{margin-bottom: 15px !important;}
#vk_comments{margin-bottom: 35px;}

@media screen and (max-width: 1200px){
	/*#map{  padding-left: 0; padding-right: 0; width: 100px !important; text-align: left;}
	#adress{padding-left: 0; padding-right: 0; width: 180px !important;}
	#email{padding-left: 0; padding-right: 0; width: 215px !important;}*/
	#phone{padding-left: 9px; padding-right: 0; width: 180px !important; text-align: center;}
}

@media screen and (max-width: 992px){
	#map{  padding-left: 0; padding-right: 0; width: 100px !important; text-align: left;}
	#adress{padding-left: 0; padding-right: 0; width: 180px !important;}
	#email{padding-left: 0; padding-right: 0; width: 230px !important; text-align: center;}
	#email_shop{padding-left: 0; padding-right: 0; width: 230px !important; text-align: center;}
	#phone{padding-left: 9px; padding-right: 0; width: 180px !important;}
}

@media screen and (max-width: 1200px){
	/**/
	.navbar-nav{
	width: 1000px !important;
	float: none !important;
	margin: 0 !important;
}
}
/*@media screen and (max-width: 994px){
	#map{  padding-left: 0; padding-right: 0; width: 100px; text-align: left;}
	#adress{padding-left: 0; padding-right: 0; width: 180px;}
	#email{padding-left: 0; padding-right: 0; width: 215px;}
	#phone{padding-left: 9px; padding-right: 0; width: 180px;}
}*/

@media screen and (max-width: 1200px){
 .btn-toolbar{
 width: 1000px;
 margin-right: 0;
 }
 #shop_bar{padding: 0 !important; width: 1000px;}
 .container_shop_panel{width: 997px !important;}
 #shop_bar_2{margin-left: 0;}
}

@media screen and (max-width: 991px){
	.toolbar-container{
		padding: 0;
		margin: 0;
		width: 100% !important;
	}
	.btn-toolbar{width: auto;}
	.btn-group{width: 100%;}
	#btn-blok{width: 9%; font-size: 0.9rem; padding-left: 6px;}
}
@media (min-width: 1024px){
	.container_carousel {width: 1000px;}
	#carousel-example-generic{width: 1000px !important;}
	.container_carousel{width: 1000px;}
}
@media (max-width: 1023px){
	#carousel-example-generic{width: 900px !important;}
	.container_carousel{width: 900px;}
	.container_rem{width: 900px !important;}
	.image_rem2{margin-left: 45px !important;}
	.image_rem3{margin-left: 45px !important;}
	.container_btn_group{width: 900px !important;}
	#btn_group_id{width: 900px !important;}
	#ile{width: 900px !important;}
	.description{width: 894px !important;}
	#footer-container{width: 900px !important;}
	.footer_block1{width: 18% !important;}
	.footer_block2{width: 200px !important;}
	.thumbnail{width: 275px !important;}
	.thumbnail{height: 160px !important;}
	#shop_bar{padding: 0 !important; padding-left: 49px !important;}
 	.container_shop_panel{width: 900px !important;}
	/*--*/
}
@media (max-width: 394px){
	#shop_title_xs{
		font-size: 16px !important;
	}
	.input_search_xs{height: 41px !important; font-size: 11px !important;}
}
@media screen and (min-width: 768px) and (max-width: 991px){
		#img_descr{width: 33.3%;}
	#info_descr{width: 66.6%;}
	.container_carousel{width: 760px;}
   #carousel-example-generic{width: 760px !important;}
   .container_btn_group{width: 750px !important;}
   #btn_group_id{width: 750px !important;}
   .container_rem{width: 760px !important;}
   .image_rem1{
		overflow:hidden !important;
	 	width: 232px !important;
	 	height:400px !important;
	 	padding: 0;
	 	margin-left: 1px;
	}
	.image_rem2{
		overflow:hidden !important;
	 	width: 233px !important;
	 	height:400px !important;
	 	padding: 0;
	 	margin-left: 30px !important;
	}
	.image_rem3{
		overflow:hidden !important;
	 	width: 233px !important;
	 	height:400px !important;
	 	padding: 0;
	 	margin-left: 30px !important;
	}
	#rem_button{
		border-radius: 0px;
		overflow:hidden !important;
		padding: 0;
		width: 233px !important;
		height: 346px !important; 
		border: 0;
	}
	.btn-rem-img{
		width: 232px !important;
		height: 400px !important; 
	}
	.adress{font-size: 14px !important;}
	.email{font-size: 14px !important;}
	.phone{font-size: 14px !important;}
	#adress{width: 154px !important;}
	#map{width: 160px !important;}

	.thumbnail{width: 228px !important;}
	.thumbnail{height: 135px !important;}
	#ile{width: 760px !important;}
	.description{width: 755px !important;}
	#footer-container{width: 760px !important;}
	.footer_block1{width: 16% !important;}
	.footer_block2{width: 190px !important;}
	.footer_block3{width: 145px !important;}
	.footer-ul li { line-height:23px !important; font-size:11px !important;}
	#contactS{margin-left: 0px !important;}
}

@media screen and (max-width: 990px){
	#img_descr{width: 33.3%;}
	#info_descr{width: 66.6%;}
 	.serviceBox{margin-bottom: 20px; padding: 20px 0;}
 	#shop_bar{width: 767px !important; padding-left: 0 !important;}
 	#shop_bar_2{width: 758px !important;}
}

@media screen and (max-width: 767px){
	#ile{width: 96% !important;}
	.description{width: 99% !important;}
	#ooo{padding-left: 30px;}
	.status_login_cont{
		margin-left: 0 !important;
	}
}


.portfolio .thumbnail {
    position: relative;
}

.portfolio .thumbnail:hover {
    cursor: pointer;
}

.portfolio .caption {
    bottom: 0;
    position: absolute;
}

.portfolio .btn {
    opacity: 0.75;
}


#nav_ico_xs i{font-size: 29px; margin-top: 10px;}
.container_nav_xs{width: 100%;}
#nav_ico_xs{width: 33.3%;}
.nav_ico_xs2{text-align: center !important;}
.nav_ico_xs3{text-align: right !important;}
.navbar-default{
	background-color: #333333;
	/*#333333*/
	border-color :white;
	height: 44px;
	margin-bottom: 0;
}
#navbar-collapse{
	background-color: #333333;
} 
.a:hover{
	text-decoration: none !important;
	position: center center;
}

.phone{
	font-size: 15px;	
	color: white !important;
}
.map{
	font-size: 15px;
	color: white !important;
	border:none;
}
.email{
	font-size: 15px;
	color: white !important;
}
.adress{
	font-size: 15px;
	color: white !important;
}
#map{
	padding-top: 12px;
	width: 250px;
	min-width: 130px;
	text-align: left;
}
#adress{
	padding-top: 12px;
	width: 218px;	
	text-align: center;
}
#email{
	padding-top: 12px;
	width: 270px;
	text-align: right;
}
#phone{
	padding-top: 12px;
	width: 286px;
	text-align: right;
}
#service{
	width: 240px;
}
#help{
	width: 230px;
}

.phone:hover i{
	color: green;
}
.phone:hover{
	color: #61ABE1 !important;
	text-decoration: none !important;
}

.map:hover i{
	color: red;

}
.map:hover{
	color: #61ABE1 !important;
	text-decoration: none !important;
	border: none;
}
.adress:hover i{
	color: green;
}
.adress:hover{
	color: #61ABE1 !important;
	text-decoration: none !important;
}
.email:hover i{
	color: red;
}
.email:hover{
	color: #61ABE1 !important;
	text-decoration: none !important;
}
.navbar-nav{
	width: 1000px !important;
	float: none !important;
	margin: 0px auto !important;
}
#toun{
	background-color: #333333;
	border: none;
}
#toun_text{
	color: white;
	border-bottom: 1px dashed white;
}

/*
/Navigation
*/

/*Logo*/
.logo{
	padding-top: 0;
	width: 174px;
	height: 104px;
	object-position: center;
}
#logo_mid{
	height: 100px;
}
.container-fluid{
	height: 110px;
	background: #333333;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/*
/Logo
*/


/*MENU*/
.btn-lg, .btn-group-lg>.btn{border-radius: 0px;} 
#btn-blok:hover{border-bottom: 3px solid white !important;}
.container_btn_group{padding: 0; width: 1000px;}
.menu{
	width: 1000px !important;
	float: none !important;
	margin: 0px auto !important;
}


.menu div{
	height: 110px;
	border-right: 1px solid white;
}
.menu div:last-child {
	border: none;
}
.menu div:hover{
	background: black !important;
	
}
.menu_a{
	font-size:  1rem;
	color:white;
}
		

#btn-blok{
	width: 9.17%;
	background-color: #333333; 
	height: 110px;
	font-size: 1rem;
	color: white;
	object-position: center;
	padding-top: 0;
	padding-bottom: 18px;
	border-top: 0px;
    border-bottom: 0px;
    padding-left: 9px;
    padding-right: 9px;
    text-transform: none;
    font-style: normal;
    font-size: 10px;
}

#btn_group_id{width: 1001px ; /*margin-left: 437px;*/}
.btn-default:hover{ 
	border-bottom-color: white !important;
	background-color: #5B5B5B !important; 
	border-bottom-width: 5px !important; 
}
.btn-blok-img{
	padding-bottom: 15px;
}
/*убираем границы у первой и последней кнопки*/

.btn-group>.btn:last-child:not(:first-child){
	border-right: 0px;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
	border-left: 0px;
}





/*xs*/

.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
.fa_xs{width: 25px; text-align: center; font-size: 16px;color: white; margin-right: 6px;}
.a_xs{color: white !important; text-decoration: none !important; font-size: 16px;}
.panel-heading span{color: white;}
/*
/MENU
*/


/*
rem
*/
.container_rem{width: 1000px; padding-left: 0; padding-right: 0px; padding-top: 30px !important; padding-bottom: 25px !important;}
.rem_img_p{
	font-weight: bold;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	color: white;
	font-size: 25px;
	position: relative;
	top: -224px;
}
#rem_button{
	border-radius: 0px;
	overflow:hidden !important;
	padding: 0;
	height: 400px; 
	border: 0;
}
#rem_button:hover{
	border-radius: 0px;
	background: 0;
	background-color: white !important;
}
.image_rem1{
	border-radius: 0px;
	overflow:hidden !important;
 	width: 270px;
 	height:400px;
 	padding: 0;
}
.image_rem2{
	border-radius: 0px;
	overflow:hidden !important;
 	width: 270px;
 	height:400px;
 	padding: 0;
	margin-left: 95px;
}
.image_rem3{
	border-radius: 0px;
	overflow:hidden !important;
 	width: 270px;
 	height:400px;
 	padding: 0;
 	margin-left: 95px;
}
.btn-rem-img{width: auto !important; height: auto !important; max-width: 100%; opacity: 0.9; background-color: #a9a9a9;}
#img_rem_id img {
 -webkit-transition: all 0.4s ease-out;
 }
 
#img_rem_id img:hover{
 -webkit-transform: scale(1.1);
 }


/*xs*/
.container_xs{width: 100%;}
#rem_btn_xs1{margin-left: 12px;}

/*
Slider
*/

.container_carousel{padding: 0 !important;}
 

#slider-row{
	width: 1000px;
}
#first-slider{
	min-width: 1000px !important;
}
#first-slider .main-container {
  padding-top: 15px;
  padding-bottom: 20px;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 400px; 
  height: 70%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 3%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}

#first-slider{margin-left: auto;}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/*
Slider backgrounds
*/
#first-slider .slide1 {
    background-image: url(http://s20.postimg.org/h50tgcuz1/image.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
  background-image: url(http://s20.postimg.org/uxf8bzlql/image.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
  background-image: url(http://s20.postimg.org/el56m97f1/image.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide4 {
  background-image: url(http://s20.postimg.org/66pjy66dp/image.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}


/*
/slider
*/

/*description*/
/*.info_descr{margin-bottom: 30px;}*/

#ile{
	width: 1000px;
	padding: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #e0dddd;
	background-color: white;
	margin-bottom: 20px;
	margin-top: 20px;
}
.description{width: 997px; padding: 15px !important; border-bottom: margin: 20px;}
.h1_descr{font-size: 32px; text-align: center; margin-top: 30px;}
.h2_descr{font-size: 22px; text-align: center; margin-top: 30px; }
.description a{color: black;}
/*.map_descr{width: 965px;}*/
.outsourcing_btn{margin:  15px; border-radius: 20px; background-color: #1CB81F;}
.p_descr{margin-bottom: 35px;}
#img_descr{
	padding-top: 30px;
}


/*description*/






/*footer*/
#f_xs_foot_rem{
	padding-top: 30px;
}
#line_foot{
    border-top: 1px solid #AAAAAA;
    margin-top: 10px;
    margin-bottom: 10px;
}
#line_foot p{
	margin-top: 15px;
	color: white;
}
#footer-container{width: 1000px; padding: 0;}
#footer-row{width: 1000px; padding: 0; margin: 0;}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
.footer{width: 100%}
footer { background-color:#333333; min-height:315px; font-family: 'Open Sans', sans-serif; padding-top: 0px; padding-bottom: 10px;  width: 100%;}
.footer_block1 { width: 22%; padding:0 15px; padding-left: 0;  }
.footer_block4{width: 31%; padding: 0; padding-left: 15px;}
.logo_footer { margin-bottom:30px; margin-top: 25px; font-size:25px; color:#fff; font-weight:700;}

.footer_block1 p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footer_block1 p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:15px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px; height: 23px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#61ABE1; text-decoration: none;}

.social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}


.copyright { min-height:40px; background-color:#000000; width: 100% !important; height: 40px;}
.copyright p { text-align:left; color:#FFF; padding-top: 5px; margin-left: 440px; width: 220px; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px; margin-top: 20px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}



/*+++*/
#menu_foot{width: 100%;}


#contactS{
	float: left;
	margin-right: 8px;
	margin-left: 6px;
	height: 38px;
	width: 38px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.vk{
	background-image: url(/img/soc/vk-hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.facebook{
	background-image:  url(/img/soc/facebook-hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.odnoklassniki{
	background-image: url(/img/soc/odnoklassniki-hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.biz{
	background-image:url(/img/soc/biz-hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.instagram{
	background-image: url(/img/soc/instagram-hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}
/*.vk:hover{
	background-image: url(/img/soc/vk-hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.facebook:hover{
	background-image: url(/img/soc/facebook-hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.odnoklassniki:hover{
	background-image: url(/img/soc/odnoklassniki-hover.png);
}
.biz:hover{
	background-image: url(/img/soc/biz-hover.png);
}
.instagram:hover{
	background-image: url(/img/soc/instagram-hover.png);
}
*/


/*xs*/

.footer_blok_xs2{width: 264px; height: 50px; margin: auto;}
.panel-default>.panel-heading{background-color: #333333;}
.panel-default{border-color: #333333;}
.panel{background-color: #333333;}
.panel-default p{color: white;}
.footer-ul li a{color: white; }
.a_footer_xs{margin-left: 12px;}
/*
big_box_menu
*/

.serviceBox{
 background: #fff;
 text-align: center;
 padding: 20px 0 40px;
 position: relative;
}
.serviceBox:hover{
 background:#333333;
}
.serviceBox .service-icon{
 width: 100px;
 height: 100px;
 line-height: 95px;
 border-radius: 50%;
 border: 3px solid #333333;
 font-size: 50px;
 color: #333333;
 margin: 0 auto;
 transition: all 0.5s ease-in-out;
}
.serviceBox:hover .service-icon{
 transform: rotateY(360deg);
 color: #fff;
 border-color: #fff;
 background: #333333;
}
.serviceBox .service-content h3 a{
 font-size: 22px;
 color: #333;
}
.serviceBox .service-content p{
 font-size: 14px;
 padding: 0 20px;
 margin: 15px 0 30px;
 color:#333;
}
.serviceBox:hover h3 a,
.serviceBox:hover p{
 color:#fff;
}
.serviceBox .btn{
 background: #333333;
 color: #fff; 
 padding: 10px 35px;
 transition: all 0.6s ease-in-out;
 -webkit-transition: all 0.6s ease-in-out;
 -moz-transition: all 0.6s ease-in-out;
 -ms-transition: all 0.6s ease-in-out;
 -o-transition: all 0.6s ease-in-out;
}
.serviceBox:hover .btn{
 background: #333;
 color: #fff;
}



/*
big_box_menu
*/
/*Price*/
/*#tab_price{bord-color: gray;}*/
/*price_xs*/


#price_xs{
	/*border: none;*/
	border-color: white !important;
    background-color: white !important;
}
#panel_price_xs{
    border-color: white !important;
    background-color: white !important;
    border-bottom: 1px;
    border-color: black;
    border-top-left-radius: 0px;
}
#services_price_xs{
	background-color: white;
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-left: 30px;
}
#description_price_xs{background-color: white; padding-left: 45px;}
#panel_price_p_xs
{
	color: black; 
	font-size: 17px; 
	text-decoration: underline;
	border-bottom: 1px;
	border-color: black; 
}
#services_price_p_xs{color: black;}
.badge{background-color: #0019ff;}

/*/price_xs*/





/*shop*/

.shop_show_more{
	display: none;
}
.about_nb:hover{
	border-bottom-width: 1px !important;
	background-color: green;
}

i[class*="ic-"] {
    display: inline-block;
    vertical-align: middle;
    background: url(/img/sprite.png) no-repeat;
}

i.ic-time {
    height: 17px;
    width: 17px;
    background-position: 0 0;
}
i.ic-user {
    height: 17px;
    width: 19px;
    background-position: -17px 0;
}
i.ic-arrow-down,
i.ic-arrow-down-white {
    height: 17px;
    width: 13px;
    background-position: -41px 0;
}
i.ic-arrow-down-white {
    background-position: -41px -17px;
}
i.ic-list {
    height: 20px;
    width: 19px;
    background-position: 0 -36px;
}
i.ic-basket {
    height: 18px;
    width: 19px;
    background-position: -25px -36px;
}
i.ic-arrow-right {
    height: 12px;
    width: 10px;
    background-position: -59px -3px;
}

.panel {
    /*padding: 5px 0;*/
    background: #333333;
    /*height: 85px;*/
}
.shop_bar{
	padding-left: 69px;
}
.panel .btn {
    padding: 13px 50px;
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #edeef0;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
         -o-border-radius: 8px;
            border-radius: 8px;
}
.panel .btn:hover {
    -webkit-box-shadow: 2px 2px 4px rgba(100,15,15, 0.44);
       -moz-box-shadow: 2px 2px 4px rgba(100,15,15, 0.44);
         -o-box-shadow: 2px 2px 4px rgba(100,15,15, 0.44);
            box-shadow: 2px 2px 4px rgba(100,15,15, 0.44);
    
}

.panel .btn-menu {
    position: relative;
    width: 280px;
}
.panel .btn-menu i[class*="ic"] {
    position: absolute;
    top: 50%;
    
}
.panel .btn-menu .ic-list {
    left: 20px;
    margin-top: -10px;
}
.panel .btn-menu .ic-arrow-down-white {
    right: 20px;
    margin-top: -8px;
}
.btn-basket {padding-right: 30px !important;}
.btn-basket i.ic-basket {
    position: relative;
    top: -2px;
    margin-right: 15px;
}

.panel-menu-wrap {
	margin-top: 9px !important;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #edeef0;
    border-right: none;
    background: #edeef0;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
         -o-border-radius: 8px;
            border-radius: 8px;
}
.panel-menu-wrap > li {
    float: left;
}
.panel-menu-wrap > li > a {
    background: #333333;
    border: none !important;
}
.panel-menu-wrap > li > a:after,
.panel-menu-wrap > li > a:before {
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 2;
    content:'';
    display: block;
    height: 0;
    width: 0;
    border-top: 23px solid transparent;
    border-left: 20px solid #333333;
    border-bottom: 23px solid transparent;
}
.panel-menu-wrap > li > a:before {
    right: -16px;
    border-left: 20px solid #edeef0;
}


.panel-menu {
	z-index: 9999;
    position: absolute;
    top: 100%;
    left: 0;
    width: 280px;
    margin: 3px 0 0 0;
    padding: 10px 0 0 0;
    list-style-type: none;
    border: 1px solid #E8ECF2;
    background: #333333;
}
.panel-menu li {
	height: 40px;
}
.panel-menu ul {
    position: absolute;
    top: -1px;
    left: 100%;
    display: none;
    width: 120.5%;
    height: 345px;
    padding: 10px 0 0 0;
    margin: 0 0 0 -5px;
    list-style-type: none;
    border: 1px solid #E8ECF2;
    background: #333333;
}
.panel-menu li:hover > ul {display: block;}

.panel-menu a {
	margin-top: 10px;
    display: block;
    padding: 6px 20px 6px 17px;
    font-size: 16px;
    color: white;
    line-height: 18px;
    letter-spacing: -0.5px;
    border-left: 3px solid transparent;
}
.panel-menu li.selected > a {
	font-size: 18px;
    color: white;
    cursor: pointer;
}
.panel-menu li.selected > a i {
    background-position: -59px -18px;
}
.panel-menu a i {float: right; margin-top: 4px;}
.panel-menu li.divider {
    margin: 9px 0;
    border-bottom: 1px solid #E8ECF2;
    
}
.panel-menu li.sale a {
    border-left: none;
    padding-left: 50px;
    background: url(../img/sale.png) no-repeat 20px center;
}

.sp {
    position: relative;
    display: block;
    height: 46px;
    width: 272px;
    font-weight: bold;
    font-size: 13px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    background: #DE0205;
    -webkit-border-radius: 0 8px 8px 0;
            border-radius: 0 8px 8px 0;
}
.sp i {
    position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -8px;
}
.sp:after,
.sp:before {
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 2;
    content:'';
    display: block;
    height: 0;
    width: 0;
    border-top: 23px solid transparent;
    border-left: 20px solid #DE0205;
    border-bottom: 23px solid transparent;
}
.sp:before {
    right: -16px;
    border-left: 20px solid #edeef0;
}

.nb_h{
	font-family: initial !important;
	font-size: 44px !important;
}


#shop_title_xs{
	color: #e2e2e2;
    text-decoration: none;
    margin: 0;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
.shop_title_div_xs{
	padding-right: 0 !important;
}
#item_shop_menu_xs{
	color: white;
	font-size: 18px;
}
#second_item_shop_menu_xs{
	background-color: #333333;
	color: white;
	padding-left: 30px;
	font-size: 16px;
	border-top: none;
}
.search_btn_xs{
    display: none;
}
.search_func_btn{
	height: 40px;
    padding: 0 !important;
    border: none !important;
    border-bottom: 1px solid red !important;
    border-radius: 0 !important;
    float: right !important;
    margin-right: 10px !important;
    color: #5d5d5d !important;	
    box-shadow: none !important;
    display: block !important;
    background: none;
    width: 40px;
    font-size: 22px;
}
.input_search_xs{
	position: absolute; 
	left: 100%; 
	height: 42px;
	width: 70%;
	background-color: #444444;
}
.input_search_xs>input{
	color: #c1c1c1;
	background-color: #444444;
	margin-top: 9px;
	border: none !important;
	/*box-shadow: 0 0 4px #6b0106 !important;*/
	width: 100%;
	height: 32px !important;
}
.input_search_xs>input:focus{
	/*box-shadow: 0 0 4px #cc0812 !important;*/
	border: none !important; 
	outline: none;
}

/*adminka*/
.shop_pt{
	font-size: 19px;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 15px;
	border: 1px solid;
	width: 220px;
	margin-bottom: 15px;
}
.shop_pt:hover{
	border: 1px solid black !important;
	background-color: gray !important;
}
#admin_im{
	margin-bottom: 9px;
}
.adm_list{
	text-transform: uppercase;
    border: 1px solid black;
    width: 270px;
    padding: 0;
}
.adm_list ul{
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin-top: 20px;
}
.adm_list ul li{
	color: black;
}

.adm_list_li{
	height: 35px;
	padding-left: 20px;
}
.adm_list_li:hover{
	background-color: gray;
}

.select_admin{
	border-radius: 0 !important;
	height: 26px !important;
	border: 1px solid transparent !important;
	box-shadow: none !important;
}
.select_admin:hover{
	border: 1px solid blue !important;
	height: 26px !important;
	/*border: none !important;*/
	box-shadow: none !important;
	position: relative;
}
.check{
	color: green;
	font-size: 17px;
}
.her{
	color: red;
	font-size: 17px;
}
.admin_contentEdit_ficha .description{
	    overflow-x: hidden;
}

.textareaDescription{
	display: inline-block;
    width: 600px;
    height: auto;
    margin-top: -30px;
    margin-left: 120px;
    margin-bottom: -60px;
    padding: 5px;
    font: bond 12px Arial;
    border: 1px solid #0960bb;
    word-wrap: break-word;}
	
    .combobox{
		width: 150px;
		height: 23px;
		display: block;
		position: relative;
	}
	select.editableContent, select.editableContentNew{
		width: 150px;
		height: 23px;
		display: inline-block;
		position: absolute;
	}
	.selectEditor{
		width: 132px;
		height: 23px;
		display: inline-block;
		position: absolute;
	}
	#notifies {
        position:absolute;
        width:auto;
        height:auto;
        z-index: 5;
        top:50;
        left:0;
    }
    #loader{
		position:fixed;
		display:none;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background:#f2f2f2;
		opacity:.9;
		z-index: 30;
	}
	#loader span{
		display: block;
		background: url(/img/soc/loader.gif);
		width: 50px;
		height: 50px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -7px 0 0 -56px;
	}	
/*adminka*/

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}




#dLabel{
	padding-left: 0;
}
#shop_panel{
	height: 52px !important;
	background-color: #333333;
}
.container_shop_panel{
	width: 1001px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	margin-left: 74px;
}
.btn_shop_menu{
	text-decoration: none;
    height: 52px;
    width: 145px;
    font-size: 23px;
    color: #e2e2e2; 
}
.btn_shop_menu:hover, .btn_shop_menu:focus{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
    height: 52px;
    width: 145px;
}
#shop_panel_drop_down{
	width: 220px;
	background-color: #333333;
}
#shop_panel_drop_down>li>a{
	color: rgba(255,255,255,0.9);
	font-size: 18px;
}
#shop_panel_drop_down>li>a:hover{
	background-color: #5a5959;
}

#shop_panel_drop_down_2{
	width: 190px;
	background-color: #333333;
}

#shop_panel_drop_down_2>li>a{
	color: rgba(255,255,255,0.9);
	font-size: 14px;
}
#shop_panel_drop_down_2>li>a:hover{
	background-color: #5a5959;
}
#search_shop{
	color: #e2e2e2 !important;
	background-color: #444444 !important;
	border: none !important;
	border-radius: 0 !important;
	height: 52px !important;
	font-size: 16px !important;
}
.search_shop{
	color: #e2e2e2 !important;
	background-color: #444444 !important;
	border: none !important;
	border-radius: 0 !important;
	height: 52px !important;
	font-size: 16px !important;
}

.shop_panel_btn{
	background-color: #333333;
	border: none;
	border-radius: 0;
	color: #e2e2e2;
	height: 52px;
	font-size: 15px;
	border-left: 1px solid #454545;
	float: right;
	padding-top: 14px;
}
.shop_panel_btn_panel{
	padding-right: 0px;
}
.shop_panel_btn:hover, .shop_panel_btn:focus {
	color: white;
	background-color: #5a5959;
}
#search_shop:focus{
	box-shadow: none !important;
}
#email_shop{
	padding-top: 12px;
	width: 348px;
	text-align: right;
}
#phone_shop{
	padding-top: 12px;
	width: 416px;
	text-align: right;
}


/*STORE*/

.dataStoreContent{
	overflow-y: hidden !important;

	background-color: white;
    padding: 15px;
    border: 1px solid #e8dddd;
    border-radius: 5px;
}

#storeContentTable.no-footer{
	border: 1px solid #e8dddd !important;
	margin-bottom: 15px;
}
#storeContentTable>thead>tr>th{
	border-bottom: 1px solid #e8dddd !important;
}
#storeContentTable_filter>label>input{
	box-shadow: none !important;
    border-radius: 3px;
    border: 1px solid #e8dddd !important;
}
#storeContentTable_length{
	margin-bottom: 15px;
}
#dataTables_filter{
	margin-bottom: 15px;
}
#storeContentTable_paginate{
	border: 1px solid #e8dddd !important;
	padding: 0;
}
#storeContentTable_paginate>span>.paginate_button{
	background: none;
	border: 1px solid #e8dddd !important;
}
/*/STORE*/

/**
* форма регистрации
**/
.login {
    padding-top: 40px;
    padding-bottom: 40px;
}
.text-center {
    text-align: center;
}
.text-center>img {
    height: 100px;
    width: 250px;
}
.login .form-signin {
    max-width: 330px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
}
html {
    position: relative;
    min-height: 100%;
}
/**/


/*
STATUS
*/


.complete_title{
	padding: 15px 20px 5px 20px;
	font-size: 24px; 
	color: #0055A6; 
	line-height: 30px; 
	font-family: Roboto, sans-serif; 
	letter-spacing: 1px;
	border-bottom: 14px solid #F5B302;
}
.complete_title>p{
	color: #737373;
	font-size: 16px;
}
.n_act{
	position: absolute; 
	font-size: 24px; 
	right: 5%;
	top: 34%; 
	color: #737373;
}
.waiting{
	padding: 0px 20px 5px 20px;
	color: #737373;
}
.steps{
	padding: 0px 20px 0px 20px
}
.steps>.step>.steps_title{
	font-size: 27px;
}
.steps>.step>.steps_description{
	font-size: 19px;
	color: #737373;
}
.steps>.step>.steps_date{
	font-size: 17px;
	color: #737373;
}
.during_title{
	padding: 15px 20px 5px 20px;
	font-size: 24px; 
	color: #0055A6; 
	line-height: 30px; 
	font-family: Roboto, sans-serif; 
	letter-spacing: 1px;
	border-bottom: 14px solid;
}
.during_title>p{
	color: #737373;
	font-size: 16px;
}

.archiv_title{
	padding: 15px 20px 5px 20px;
	font-size: 24px; 
	color: #0055A6; 
	line-height: 30px; 
	font-family: Roboto, sans-serif; 
	letter-spacing: 1px;
	border-bottom: 14px solid;
}
.archiv_title>p{
	color: #737373;
	font-size: 16px;
}
/*
/STATUS
*/



/*WORK*/


@media print{
	body>*{
		display: none;
		padding: 0 !important;
		margin: 0 !important;
	}
	div,#tab_ccontent{
		padding: 0 !important;
		width: 900px;
	}
	div,.print_act{
		display: block !important;
		border: none !important;
	}
}




/*
WORK
*/