<div class="container" style="width: 99% !important;">
  <p><br></p>
    <h2>У вас нет прав на вход в рабочую зону.</h2>
    <p>Если вы уверены, что вам ограничили права по ошибке, пожалуйста отправьте смс с текстом "Артем верни права!" на номер +7 (930) 844-44-10.</p> 
</div>
